nav {
    background-color: #2196F3;
}
input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ffab40;
    box-shadow: 0 1px 0 0 #ffab40;
}
.demo-card-square.mdl-card {
    width: 200px;
    float: left;
    margin: 1rem;
    position: relative;
}
.mdl-card__supporting-text {
    min-height: 150px;
}
.demo-card-square.mdl-card:hover {
    box-shadow: 
        0 8px 10px 1px rgba(0, 0, 0, .14), 
        0 3px 14px 2px rgba(0, 0, 0, .12), 
        0 5px 5px -3px rgba(0, 0, 0, .2);
}
a#loginButton {
    background-color: #ffab40;
    text-transform: none;
}
input#message {
    margin-top: 20px;
}
div#loginContainer {
    text-align: center;
}
div#loginContainer h3 {
    color: rgba(94, 80, 80, 0.87);
}
.logoutSuccess {
    padding-top: 30px;
    color: green;
}
.userDetails {
    float: right;
    padding-top: 15px;
}
.profileImage {
    max-width: 30px;
    border-radius: 15px;
}
@media only screen 
  and (max-width: 992px)  {
    .brand-logo {
        left: 20%;
    }
}
