<!-- Main Navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand siteTitle" href="#">Pinboard</a>
    </div>
    <!-- Right side login drop down -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" *ngIf="name">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="profileImage" src="{{ displayImageUrl }}" /><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="loggedInUser">Logged in as: {{ displayName }}</li>
            <li role="separator" class="divider"></li>
            <li class="logout"><a (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
      <!-- Filter Input -->
      <form class="navbar-form navbar-right">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-filter"></span></span>
          <input type="text" class="form-control" placeholder="Filter messages" aria-describedby="basic-addon1" name="filter" [(ngModel)]="filterValue">
        </div>
      </form>
    </div>
  </div>
</nav><!-- /Main Navbar -->

<!-- Login component -->
<login-component *ngIf="!name" [logoutSuccess]="logoutSuccess"></login-component>


<!-- Page -->
<div class="container"  *ngIf="name">
  <div class="row row-offcanvas row-offcanvas-left">
    <!-- Sidebar -->
    <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
      <h3>Organization</h3>

      <!-- If the user has no categories setup -->
      <div class="noCategories" *ngIf="!categoriesPresent">
        <p>Seems you do not have any categories created for organization.</p><p><a href="#" (click)="addingCategory = !addingCategory">Add new category</a></p>
      </div> 
     
     <!-- If the user has categories setup -->
      <div class="hasCategories" *ngIf="categoriesPresent">
        <p><a href="#" (click)="filterCategory()">Show all</a></p>
        <ul class="categoriesList">
          <li *ngFor="let item of categories | async"><a href="#" (click)="filterCategory(item.color)"><span class="categoryColor" [ngStyle]="{ 'background-color': item.color }"> </span> {{ item.category }}</a> <a href="#" (click)="deleteCategory(item.$key, item.category, item.color)" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="glyphicon glyphicon-remove delteGlyph"></span></a>
          </li>
          <!-- Confirm delete category modal -->
          <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="confirmCategoryDeleteModal">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Confirm remove</h4>
                </div>
                <div class="modal-body">
                  <p>Are you sure you would like to delete the following category: <strong>{{ confirmPassedCategory }}</strong></p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-success" (click)="confirmDeleteCategory(confirmPassedKey)" data-dismiss="modal">Yes</button>
                  <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
          
          
          



        </ul>
        <p><a href="#" (click)="addingCategory = !addingCategory">Add new category</a></p>
      </div>





      <div class="addCategory" *ngIf="addingCategory">
        <input name="color" id="chosenColor" class="form-control" [colorPicker]="color" (colorPickerChange)="color=$event" [style.background]="color" [value]="color" />
        <input type="text" class="form-control" id="category" placeholder="Add category" (keyup.enter)="addCategory(color, $event.target.value)" [(ngModel)]="category" />
        <p class="cancelAddCategory" (click)="addingCategory = !addingCategory"><a href="#">Cancel add category</a></p>
      </div>



    </div><!-- sidebar -->

    <!-- Main Body -->
    <div class="col-12 col-md-9">
      <!-- Input to add messages -->
      <input type="text" class="form-control" id="message" placeholder="Add message" (keyup.enter)="send($event.target.value)" [(ngModel)]="message" />
      
      <div class="row">
        <!-- Card for displaying the messages -->
        <div class="col-sm-6 col-md-4" *ngFor="let item of items | async | messageFilterPipe: filterValue">
          <div class="thumbnail">
            <div class="caption">
              <span class="glyphicon glyphicon-bookmark topLeft" aria-hidden="true" [ngStyle]="{ 'color': item.category }"></span>
              <p>{{ item.message }}</p>
              <!--<p>{{ item.$key }}</p>-->
              <div class="btn-group actionsButton">
                <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a href="#">Change Category</a>
                    <ul class="dropdown-menu">
                      <li *ngFor="let cat of categories | async"><a href="#" (click)="updateCategory(item.$key, cat.color)">{{ cat.category }}</a></li>
                    </ul>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li class="removeItem"><a href="#" (click)="delete(item.$key)">Remove</a></li>
                </ul>
              </div>
              <span class="clear"></span>
            </div>
          </div>
        </div>
      </div><!-- Row -->
    </div>






  </div><!-- row off canvas -->
</div><!-- Container -->








