<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a href="#!" class="brand-logo">Pin Board</a>
    </div>
  </div>
</nav>

<div class="container" id="loginContainer" *ngIf="!name">
  <h3>Login</h3>
  <p *ngIf="logoutSuccess" class="logoutSuccess"><strong>Successfully Logged Out</strong></p>
  <a class="btn waves-effect waves-light" id="loginButton" (click)="googleLogin()">Google Login</a>
</div>

<div class="container"  *ngIf="name">
  <a class="btn waves-effect waves-light" id="loginButton" (click)="logout()">Logout</a>
  <input type="text" id="message" placeholder="Message" (keyup.enter)="send($event.target.value)" [(ngModel)]="message" />
  <div class="mdl-card mdl-shadow--2dp demo-card-square" *ngFor="let item of items | async">
    <div class="mdl-card__supporting-text">
      {{ item.message }}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect" (click)="delete(item.$key)">Delete</a>
    </div>
  </div>
  </div>

