.signIn {
    width: 230px;
}
#loginButton {
    cursor: pointer;
}
a#loginButton {
    box-shadow: none;
}
.wrapper {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: #ccc;
    border-radius: 10px;
}